@use 'globals/variables' as *;
@use 'globals/mixins' as *;
@use 'globals/reset';
@use 'globals/typography';

                /// HEADER SECTION ///

.header-section{
    min-height: 100vh;
    background-image: url(/images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .navbar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2.5rem;

        .logo{
            .logo-img{
                width: 180px;
            }
        }

        .nav-links{
            .links{
                font-size: 1.1rem;
                color: #d4ffff;
                padding-left: 1.7rem;

                &:hover{
                    color: white;
                }
            }

            .active{
                font-size: 1rem;
                background-color: white;
                border-radius: 2rem;
                padding: .6rem 1.4rem;
                margin-left: 1.7rem;
                font-family: $serif-font;
                text-transform: uppercase;
                color: #2a3038;

                &:hover{
                    background-color: rgba(255, 255, 255, 0.333);
                    color: white;
                }
            }
        }
    }

    .container{
        @include position;
        width: 100%;
        display: flex;
        gap: 70px 0;
        justify-content: center;
        flex-direction: column;

        h1{
            color: white;
            font-size: 4.25rem;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 10px;
        }

        .arrow-img{
            width: 30px;
            margin: 0 auto 3rem auto;
        }
    }
}

                /// MAIN SECTION ///

main{
    /// FIRST SECTION ///

    .first-section{
        display: flex;
        flex-wrap: wrap;
        position: relative;
    
        .text-section{
            flex-basis: 50%;
            padding: 0 7rem;
            align-self: center;
    
            h2{
                color: $color-head;
                font-size: 2.6rem;
                margin-bottom: 1.7rem;
            }
    
            p{
                color: $color-body;
                font-size: 1.040rem;
                font-weight: 600;
                margin-bottom: 1.7rem;
                line-height: 1.65;
            }
    
            a{
                @include link;
            }
    
            .learn{
                @include learn;
            }
        }
    
        .img-section{
            flex-basis: 50%;
    
            img{
                max-width: 100%;
                height: 100%;
            }
        }
    }
    
    /// SECOND SECTION ///
    
    .second-section{
        display: flex;
        flex-wrap: wrap;
        position: relative;

        .img-section-2{
            flex-basis: 50%;
    
            .stand-img{
                max-width: 100%;
                height: 100%;
            }
        }

        .text-section-2{
            flex-basis: 50%;
            padding: 0 7rem;
            align-self: center;

            h2{
               @include head;
               font-size: 2.4rem;
            }

            p{
                @include body;
            }

            a{
                @include link;
            }

            .learn-2{
                @include learn;
            }
        }    
    }

    /// THIRD SECTION ///
    
    .third-section{
        display: flex;
        position: relative;
        min-height: 80vh;

        .third-one{
            flex-basis: 50%;
            background-image: url(/images/desktop/image-graphic-design.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            text-align: center;
            position: relative;

            .text{
                @include position;
                top: 80%;
                width: 100%;
                padding: 0 9rem;

                h3{
                    color: #1e574a;
                    font-size: 2rem;
                    margin-bottom: 1.5rem;
                }

                p{
                    @include body;
                    color: #1e574a;
                }
            }
        }

        .third-two{
            flex-basis: 50%;
            background-image: url(/images/desktop/image-photography.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            text-align: center;
            position: relative;

            .text{
                @include position;
                top: 80%;
                width: 100%;
                padding: 0 9rem;

                h3{
                    color: #1a4f6d;
                    font-size: 2rem;
                    margin-bottom: 1.5rem;
                }

                p{
                    @include body;
                    color: #1a4f6d;
                }
            }
        }
    }

    /// FOURTH SECTION ///
    
    .fourth-section{
        padding: 7rem 7rem;

        h4{
            color: #a8a9ab;
            font-size: 1.2rem;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 3rem;
            letter-spacing: 5px;
        }

        .fourth-container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0 30px;
            text-align: center;
            padding: 0 1rem;
            // flex-wrap: wrap;

            .testimonials{
                .rounded-pic{
                    width: 90px;
                    border-radius: 50%;
                    margin-bottom: 2.5rem;
                }

                .mission{
                    color: #6a6b6c;
                    margin-bottom: 2.5rem;
                    line-height: 1.65;
                }

                .name{
                    color: #262d34;
                    font-size: 1.1rem;
                    font-family: $serif-font;
                    font-weight: 700;
                    margin-bottom: .5rem;
                }

                .post{
                    color: #b5b4b2;
                }
            }
        }
    }

    /// FIFTH SECTION ///
    
    .fifth-section{
        display: flex;
        flex-wrap: wrap;

        .fifth-img{
            flex-basis: 25%;

            .img-fifth{
                max-width: 100%;
                height: 100%;
            }
        }
    }
}