@use 'globals/variables' as *;
@use 'globals/mixins' as *;
@use 'globals/reset';
@use 'globals/typography';

                /// HEADER SECTION ///

.header-section{
    min-height: 100vh;
    background-image: url(/images/desktop/image-header.jpg);
    @include background-setup;
    position: relative;

    .navbar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2.5rem;

        .logo{
            .logo-img{
                width: 180px;
            }
        }

        .hamburger{
            display: none;
        }

        .nav-links{
            .links{
                font-size: 1.1rem;
                color: #d4ffff;
                padding-left: 1.7rem;

                &:hover{
                    color: white;
                }
            }

            .active{
                font-size: 1rem;
                background-color: white;
                border-radius: 2rem;
                padding: .6rem 1.4rem;
                margin-left: 1.7rem;
                font-family: $serif-font;
                text-transform: uppercase;
                color: #2a3038;

                &:hover{
                    background-color: rgba(255, 255, 255, 0.333);
                    color: white;
                }
            }
        }
    }

    .container{
        @include position;
        width: 100%;
        display: flex;
        gap: 70px 0;
        justify-content: center;
        flex-direction: column;

        h1{
            color: white;
            font-size: 4.25rem;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 10px;
        }

        .arrow-img{
            width: 30px;
            margin: 0 auto 3rem auto;
        }
    }
}

@include mobile-view{
    .header-section{
        background-image: url(/images/mobile/image-header.jpg);
        @include background-setup;
        background-size: cover;
        background-position: top center;
        min-height: 100vh;
        position: relative;

        .navbar-container{
            padding: 2rem 2rem;

            .logo{
                .logo-img{
                    width: 140px;
                }
            }

            .hamburger{
                display: block;
                cursor: pointer;

                input{
                    display: none;

                    &:checked{
                        +{
                            svg{
                                transform: rotate(-45deg);

                                .line-top-bottom{
                                    stroke-dasharray: 20 300;
                                    stroke-dashoffset: -32.42;
                                }
                            }
                        }
                    }
                }
                
                svg{
                    height: 3em;
                    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
                }

                .line{
                    fill: none;
                    stroke: white;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 3;
                    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
                }
    
                .line-top-bottom{
                    stroke-dasharray: 12 63;
                }
            }

            .nav-links{
                display: none;
            }
        }

        .container{
            h1{
                font-size: 2.25rem;
                line-height: 1.5;
            }
        }
    }
}

                /// MAIN SECTION ///

main{
    /// FIRST SECTION ///

    .first-section{
        display: flex;
        flex-wrap: wrap;
        position: relative;
    
        .text-section{
            flex-basis: 50%;
            padding: 0 7rem;
            align-self: center;
    
            h2{
                color: $color-head;
                font-size: 2.6rem;
                margin-bottom: 1.7rem;
            }
    
            p{
                color: $color-body;
                font-size: 1.040rem;
                font-weight: 600;
                margin-bottom: 1.7rem;
                line-height: 1.65;
            }
    
            a{
                @include link;
            }
    
            .learn{
                @include learn;
            }
        }
    
        .img-section{
            flex-basis: 50%;
    
            img{
                max-width: 100%;
                height: 100%;
            }

            .mob-img{
                display: none;
            }
        }
    }

    @include mobile-view{
        .first-section{
            flex-direction: column-reverse;

            .text-section{
                padding: 3rem 2rem;
                text-align: center;

                h2{
                    font-size: 2.2rem;
                }

                a{
                    padding-left: 0;
                }

                .learn{
                    margin: 0 auto;
                }
            }

            .img-section{
                img{
                    display: none;
                }
                .mob-img{
                    display: block;
                    width: 100%;
                }
            }
        }
    }
    
    /// SECOND SECTION ///
    
    .second-section{
        display: flex;
        flex-wrap: wrap;
        position: relative;

        .img-section-2{
            flex-basis: 50%;
    
            .stand-img{
                max-width: 100%;
                height: 100%;
            }

            .mob-stand-img{
                display: none;
            }
        }

        .text-section-2{
            flex-basis: 50%;
            padding: 0 7rem;
            align-self: center;

            h2{
               @include head;
               font-size: 2.4rem;
            }

            p{
                @include body;
            }

            a{
                @include link;
            }

            .learn-2{
                @include learn;
            }
        }    
    }

    @include mobile-view{
        .second-section{
            flex-direction: column;

            .img-section-2{
                .stand-img{
                    display: none;   
                }
                .mob-stand-img{
                    display: block;
                    width: 100%;
                }
            }

            .text-section-2{
                padding: 3rem 2rem;
                text-align: center;

                h2{
                    font-size: 2.25rem;
                }

                p{
                    padding: 0 .5rem;
                }

                a{
                    padding-left: 0;
                }

                .learn-2{
                    margin: 0 auto;
                }
            }
        }
    }

    /// THIRD SECTION ///
    
    .third-section{
        display: flex;
        position: relative;
        min-height: 80vh;

        .third-one{
            flex-basis: 50%;
            background-image: url(/images/desktop/image-graphic-design.jpg);
            @include background-setup;
            background-position: center;
            text-align: center;
            position: relative;

            .text{
                @include position;
                top: 80%;
                width: 100%;
                padding: 0 9rem;

                h3{
                    color: #1e574a;
                    font-size: 2rem;
                    margin-bottom: 1.5rem;
                }

                p{
                    @include body;
                    color: #1e574a;
                }
            }
        }

        .third-two{
            flex-basis: 50%;
            background-image: url(/images/desktop/image-photography.jpg);
            @include background-setup;
            background-position: center;
            text-align: center;
            position: relative;

            .text{
                @include position;
                top: 80%;
                width: 100%;
                padding: 0 9rem;

                h3{
                    color: #1a4f6d;
                    font-size: 2rem;
                    margin-bottom: 1.5rem;
                }

                p{
                    @include body;
                    color: #1a4f6d;
                }
            }
        }
    }

    @include mobile-view{
        .third-section{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            min-height: 100vh;

            .third-one{
                background-image: url(/images/mobile/image-graphic-design.jpg);
                flex-basis: 100%;
                min-height: 80vh;

                .text{
                    padding: 0 2rem;
                }
            }

            .third-two{
                background-image: url(/images/mobile/image-photography.jpg);
                flex-basis: 100%;
                min-height: 80vh;

                .text{
                    padding: 0 2rem;
                }
            }
        }
    }

    /// FOURTH SECTION ///
    
    .fourth-section{
        padding: 7rem 7rem;
        margin-bottom: 1.5rem;

        h4{
            color: #a8a9ab;
            font-size: 1.2rem;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 3rem;
            letter-spacing: 5px;
        }

        .fourth-container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0 30px;
            text-align: center;
            padding: 0 1rem;
            // flex-wrap: wrap;

            .testimonials{
                .rounded-pic{
                    width: 90px;
                    border-radius: 50%;
                    margin-bottom: 2.5rem;
                }

                .mission{
                    color: #6a6b6c;
                    margin-bottom: 2.5rem;
                    line-height: 1.65;
                }

                .name{
                    color: #262d34;
                    font-size: 1.1rem;
                    font-family: $serif-font;
                    font-weight: 700;
                    margin-bottom: .5rem;
                }

                .post{
                    color: #b5b4b2;
                }
            }
        }
    }

    @include mobile-view{
        .fourth-section{
            padding: 4rem 2rem 2rem 2rem;
            margin-bottom: 0;

            h4{
                letter-spacing: 2px;
            }

            .fourth-container{
                flex-wrap: wrap;
                padding: 0;

                .testimonials{
                    margin-bottom: 3.5rem;

                    .rounded-pic{
                        margin-bottom: 1rem;
                    }

                    .mission{
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }

    /// FIFTH SECTION ///
    
    .fifth-section{
        display: flex;
        flex-wrap: wrap;

        .fifth-img{
            flex-basis: 25%;

            .img-fifth{
                max-width: 100%;
                height: 100%;
            }
        }
    }

    @include mobile-view{
        .fifth-section{
            .fifth-img{
                flex-basis: 50%;

                .img-fifth{
                    width: 100%;
                }
            }
        }
    }
}

                /// FOOTER SECTION ///

.footer-section{
    background-color: #90d4c5;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo-footer{
        .footer-logo{
            width: 200px;
            margin-bottom: 1.5rem;
        }
    }

    .link-footer{
        margin-bottom: 5rem;
        display: flex;
        gap: 0 60px;

        .footer-link{
            color: #4e9384;
            font-size: 1.1rem;
            font-weight: 600;

            &:hover{
                color: white;
            }
        }
    }

    .social-icons{
        display: flex;
        gap: 0 30px;
        
        .icons{
            color: #2e7565;
            font-size: 1.7rem;

            &:hover{
                cursor: pointer;
                transition: .20s linear;
                color: white;
            }
        }
    }
}