@use 'globals/variables' as *;
@use 'globals/mixins' as *;
@use 'globals/reset';
@use 'globals/typography';

                /// HEADER SECTION ///

.header-section{
    min-height: 100vh;
    background-image: url(/images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .navbar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2.5rem;

        .logo{
            .logo-img{
                width: 180px;
            }
        }

        .nav-links{
            .links{
                font-size: 1.1rem;
                color: #d4ffff;
                padding-left: 1.7rem;
            }

            .active{
                font-size: 1rem;
                background-color: white;
                border-radius: 2rem;
                padding: .8rem 1.4rem;
                margin-left: 1.5rem;
                font-family: $serif-font;
                text-transform: uppercase;
                color: #2a3038;

                &:hover{
                    background-color: rgba(255, 255, 255, 0.333);
                    color: white;
                }
            }
        }
    }

    .container{
        @include position;
        width: 100%;
        display: flex;
        gap: 70px 0;
        justify-content: center;
        flex-direction: column;

        h1{
            color: white;
            font-size: 4.25rem;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 10px;
        }

        .arrow-img{
            width: 30px;
            margin: 0 auto 3rem auto;
        }
    }
}

                /// MAIN SECTION ///

.first-section{
    display: flex;
    position: relative;

    .text-section{
        padding: 0 5rem;
        align-self: center;

        h2{
            color: $color-head;
            font-size: 2.7rem;
            margin-bottom: 1.5rem;
        }

        p{
            color: #8a8797;
            font-size: 1rem;
            margin-bottom: 1.5rem;
        }
    }
}